version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
    groups:
      babel:
        patterns:
          - '@babel/*'
      embroider:
        patterns:
          - '@embroider/*'
          - 'ember-auto-import'
          - 'webpack'
      ember-cli-deploy:
        patterns:
          - 'ember-cli-deploy-*'
      eslint:
        patterns:
          - '@eslint/*'
          - 'eslint*'
          - 'typescript-eslint'
      prettier:
        patterns:
          - 'prettier'
          - 'prettier-plugin-*'
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
