<footer id="footer">
  <div class="inner">
    <h2>Kontakt</h2>
    <ul class="actions">
      <li><Contact::Phone /></li>
      <li><Contact::Email /></li>
      <li><Contact::Address /></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; Autoškola Beran. Design
    <a href="https://templated.co">TEMPLATED</a>.
  </div>
</footer>